@model IEnumerable<ClothesASPCoreApp.Models.Brands>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info">Danh sách các thương hiệu đã liên kết</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Liên kết với thương hiệu mới</a>
    </div>
</div>

<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.isPublic)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <th>
                    @Html.DisplayFor(m => item.isPublic)
                </th>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />&nbsp;
                </td>
            </tr>
        }
    </table>
</div>
