
@{
    ViewData["Title"] = "Yêu cầu đổi mật khẩu";
}
<h1>Yêu cầu đổi mật khẩu</h1>

<div>
    <p>
        Hãy đổi mật khẩu để có quyền truy cập trang này!
    </p>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Đổi mật khẩu</a>
    <a class="nav-link" asp-area="Admin" asp-controller="Orders" asp-action="Index">Tải lại</a>
</div>


